body{
    margin: 0;
    padding: 0;
    height: 80vh;
    background: rgb(251, 251, 236);
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    max-height: max-content;
}

.contact-title {
    margin-top: 170px;
    color: rgba(0, 0, 0, 0.685);
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2{
    font-size: 16px;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgba(0, 0, 0, 0.685);
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px
}

form .submit {
    background-color: #f6c48c;
    border-color: transparent;
    font-size: 20px;
    letter-spacing: 1px;
    height: 50px;
    margin-top: 20px;
    border-radius: 0.5em;
    margin-bottom: 3.5em;
}

form .submit:hover{
    background-color: #f3d3ae;
    cursor:pointer;
}

footer{
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 22%;
  background: #58a9cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.social {
  display: flex;
}

.social a{
  margin: 8px 10px;
  margin-bottom: 25px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #acebf1;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover{
  transform: scale(1.2);
  transition: 0.3s;
}

.end {
  position: absolute;
  color: #acebf1;
  bottom: 5px;
  font-size: 14px;
}